# Ignore my temporary files.
tesst*
tmp

# Ignore development environment files.
*.sln.docstates
*.suo
*.sw[op]
*.user
*.userosscache
.vs/
[Tt]est[Rr]esult*/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
